body{
    color: #666;
    background-color: #FFF;
}
a{
    color: #666;
}
a:hover{
    color: #ccc;
}
.page-header{
    height: 134px;
    margin: 40px 0 0px;
}
.navbar{
    margin-bottom: 0;
    /*height: 40px;*/
    /*min-height: 40px;*/
    border-radius: 0%;
}
.content{
    padding: 5px;
    border-left: solid 0.15em #d6d6d6;
    border-right: solid  0.15em #d6d6d6;
    border-bottom: solid  0.15em #d6d6d6;
}
.navbar-brand{
    font-size: inherit;
}
.bread{
    height: 30px;
    background: url(../img/breadcrumb.jpg) 50% no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    /*background-size: 80%;*/
    padding: 5px;
}
.bread>span{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.navbar-footer{
    background-color: #ececec;
    border-color: #2b2e32;
    min-height: 50px;
}
.navbar-footer a{
    color: #666;
}
@media screen and (min-width:701px)
{
    .navbar {
        min-height: 0;
        height: 40px;
    }
    .nav li{
        max-height: 40px;
    }
    .navbar-nav > li > a {
        padding-top: 16px;
        /*padding-bottom: 10px;*/
        line-height: 8px;
    }
    .navbar-brand{
        padding: 10px 10px;
    }
    #current_date{
        line-height: 10px;
        height: 10px;
        padding-top: 10px;
        /*margin-top: -1px;*/
    }
    .navbar-header{
        height: 25px;
    }
    .dataTables_info{
        margin-top: 15px;
    }

}
table.grid th  {
    font-size :8pt;
    font: "Verdana";
    background:#C0EBD2; /*#E0EEEE;  #CAE8EA;*/
    color: #104E8F;
    font-weight: bold;
    white-space: nowrap;
    border: 1px solid #C1CDCD;
    padding: 5px;
}
table.grid , table.grid td
{
    font-size :9pt;
    FONT-FAMILY: 'Arial';
    BORDER-COLLaPSE: collapse ;
    /*border: #C1CDCD 1px solid;*/
    border: #CCC 1px solid;
    padding:3px 3px 3px 3px;

}
table.tdgrid th{
    font-size :10pt;
    FONT-FAMILY: 'Arial';
    BORDER-COLLaPSE: collapse ;
    /*border: #C1CDCD 1px solid;*/
    border: #000 1px solid;
    padding:1px 3px 1px 3px;
    background:#93cfd0;
    color: #104E8B;
    font-weight: bold;
    white-space: nowrap;

}
table.tdgrid ,table.tdgrid td{
    font-size :10pt;
    FONT-FAMILY: 'Arial';
    BORDER-COLLaPSE: collapse ;
    /*border: #C1CDCD 1px solid;*/
    border: #000 1px solid;
    padding:1px 3px 1px 3px;

}
.typeinput
{
    PADDING-RIGHT: 0px;
    BORDER-TOP: #ffffff 1px solid;
    PADDING-LEFT: 0px;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #ffffff 1px solid;
    /*WIDTH: 162px; */
    COLOR: #0033cc;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 1px dotted;
    FONT-FAMILY: Arial;
    HEIGHT: 20px
}
ul#steps{
    float: left;
    display: block;
    padding: 0 -10px 0 0;
    margin: 0 auto;
    background: url('../img/connectbar.png') 40px 33px repeat-x;
}
#steps li{
    font-size: 14pt;
    font-weight: bold;
    font-family: Time New Romans;
    color: #FFF;
    float:left;
    list-style: none;
    width: 75px;
    height: 75px;
    padding: 31px 90px 25px 39px;
    background: url('../img/circle_grey.png') 20px 20px no-repeat;
}
#steps li.active{
    background: url('../img/circle_green.png') 20px 20px no-repeat;
}
.nav-steps{
    margin: 0 auto;
    margin-left: 50px;

}
.nav-tabs li.active{
    background-color: #0a0;
}
.image-view{
    right: 10px;
    margin: 0 10px 10px 10px;
    border: solid 1px #ccc;
    display: inline;
    padding: 0;
    z-index: 10;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
}
.select-image{
    width: 310px;
    right: 10px;
    margin: 230px 10px 10px 10px;
    /*border: solid 1px #ccc;*/
    display: inline;
    padding: 0;
    z-index: 10;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
}
.add-group{
    background: url('../img/button_add.png') center no-repeat;
    width: 33px;
    height: 33px;
    background-color: transparent;
    border: none;
    margin-top: 2px;
}
input.error,
select.error{
    background-color:#F4A08F; border:#BF0A09 solid 2px !important;
}
.gotoplink li{
    list-style: none;
    background: url(/img/page_top_icon.png) center no-repeat;
    padding: 5px;
    height: 35px;
    width: 35px;
    cursor: pointer;
}
.gotoplink li a{
    height: 35px;
    width: 35px;
}
.table-checkbox{
    width: 40%;
    margin: 0 auto;
}