/*
Define custom css for application
*/
/* 
    Created on : 04-06-2014, 23:00:58
    Author     : soncahuynh
*/

span.required,
.error-message{
    color: #F00;
}
#flashMessage{
	background-image: -webkit-linear-gradient(#ff6707, #dd5600 60%, #c94e00);
	background-image: linear-gradient(#ff6707, #dd5600 60%, #c94e00);
	background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff6707', endColorstr='#ffc94e00', GradientType=0);
    filter: none;
    border-bottom: 1px solid #aa4200;
    border-radius: 5px;
    padding: 5px 0px 5px 20px;
}
.message{
    color: #fff;
}
#flashMessage.success{
	background-image: -webkit-linear-gradient(#88c149, #73a839 60%, #699934);
	background-image: linear-gradient(#88c149, #73a839 60%, #699934);
	border-bottom: 1px solid #59822c;
        color: #fff;
}